<style>

</style>

<p>
   
    
    <a href="{{'/uploads/cv/' ~ field.value  }}" target="_blank" class="btn btn-default"> Télécharger le fichier 
        <i class="fa fa-download"></i>
     </a>
</p>
    
